/* Container */

.signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height:40px;
  background-color: #5590f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.signin_control {
   z-index: 1000;
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0px;
   left: 0px;
   display:flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: transparent;
}
.auth_mask{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 990;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background-color: black
}
.twilio_code_input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
  background-color: rgb(234, 34, 34)
}
.twilio_phone_input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  background-color: rgb(230, 215, 215)
}
.twilio_phone_container {
   display:flex;
   justify-content: center;
   width: 100%;
}
.twilio_phone_number{
   display: flex;
   justify-content: center;
   align-items: center;
   width:70%;
   height:40px;
   font-size: 25px;
   color:white;
   background-color: green;
}
.twilio_signup_btn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}
.btn_disable{
  cursor:default;
  background-color: grey;
}
.PhoneInputInput {
  /* 输入框的样式 */
  height:35px;
}
.password-container{
  width:30%;
  max-width:500px;
  min-width:300px;
}
.password-enter{
  width:cal(100%-10px);
  height:40px;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: rgb(249, 242, 242);
  margin: 4px 10px 4px 4px;

}
.keypad-container{
   width: 100%;
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap
}
.keypad-panel{
   width: 100%;
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap
}
.keypad-cell{
  width: 30%;
  height:60px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: white;
  margin-top: 4px;
}




