/* Container */
.tournament-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tournament-item {  
  display:flex;
  width: 90%;
  height:12%;
  min-height:120px;
  margin: 10px;
  text-align: center;
  background-color: hsl(138, 93%, 46%);
  border: 1px solid #ddd;
  border-radius: 4px;
}
.play-tournament {
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 120px;
  height:25%;
  min-height: 30px;
  background-color: #5590f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 6px;
}
.tournament-trophy{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  background-color: #5590f5;
}
.tournament-summary{
  width: 60%;
  height:100%;
  background-color: transparent;
}
.tournament-entryfee{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  width: 20%;
  height:85%;
  margin-top: 5px;
  margin-right: 15px;
  background-color: #e29345;
}


