.match_container {
    position: absolute;
    z-index: 350;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    background-color: red;
    pointer-events: none;
}
.search_container{
    position:absolute;
    z-index: 30000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    background-color: rgb(178, 251, 109);
    /* pointer-events: none; */
}
.search_sprite{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.search_tip{
    display:flex;
    width:auto;
    height:40px;
    justify-content: center;
    align-items: center;
}
.cancel_btn{
    cursor: pointer;
    display:flex;
    width:80px;
    height:40px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color:white;
}





