.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 两列 */
    grid-template-rows: repeat(2, 1fr);
    /* 两行 */
    width: 50%;
    height: 50%;
    place-items: center;
    border: 2px solid black;
}