.seat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 两列 */
    grid-template-rows: repeat(2, 1fr);
    /* 两行 */
    width: 50%;
    height: 50%;
    place-items: center;
    border: 0px solid black;
    box-sizing: border-box;
}

.triangle {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
}

.triangle.top {
    transform: rotate(0deg);
    background: red;
}

.triangle.right {
    transform: rotate(90deg);
    background: blue;
}

.triangle.bottom {
    transform: rotate(180deg);
    background: green;
}

.triangle.left {
    transform: rotate(270deg);
    background: yellow;
}

.token-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 110%;
    height: 110%;
    border-radius: 50%;
    border: 4px dashed rgb(29, 28, 28);
    animation: rotate 5s linear infinite;
    visibility: hidden;
    /* pointer-events: none; */
}

.token {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 1px solid white;
    pointer-events: none;
}

.token-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;
    border-radius: 50%;
    background-color: white;
}

.star {
    width: 100%;
    height: 100%;
    background: gold;
    clip-path: polygon(50% 0%,
            /* 顶点 */
            61% 35%,
            /* 右上 */
            98% 35%,
            /* 右尖 */
            68% 57%,
            /* 右下 */
            79% 91%,
            /* 右底 */
            50% 70%,
            /* 底中心 */
            21% 91%,
            /* 左底 */
            32% 57%,
            /* 左下 */
            2% 35%,
            /* 左尖 */
            39% 35%
            /* 左上 */
        );
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}