.btn-blank{
  width:80px;
  height:40px;
  background-color: transparent;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width:80px;
  height:40px;
  background-color: #e8e9ea;
  color:rgb(108, 108, 253);
  border-radius: 4px; 
}
/* .order-panel{
  position:relative;
  top:0px;
  left:0px;
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  background-color: rgb(11, 94, 237);
} */
.order-content {
  width: 100%;
  height:100%;
  overflow-y: auto;
  overflow-x:hidden;
}
.order-panel{
  /* position:absolute;
  bottom:0px;
  left:0px; */
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  margin:0;
}
.order-control{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:60px;
}
.order-bar{
  display:flex;
  height:60px;
  width:100%;
}
.orderbar-left{
   width:50%;
   height:100%;
   background-color: rgb(81, 255, 0);
}
.orderbar-right{
   display: flex;
   align-items: center;
   justify-content: center;
   width:50%;
   height:100%;
   background-color: rgb(47, 57, 250);
}
.lineItem-cell{
   display:flex;
   justify-content: center;
   align-items: center;
   width:30%;
}
.lineItem-row{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:25px;
}
.lineItem-container {
  /* display:flex;
  justify-content: space-around;
  align-items: center;
  min-height:60px; */
  width: 100%;
  /* background-color: white; */
  border-color: black;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  margin:0px 10px 0px 10px
}

.subtotal-container {
  width: 100%;
  background-color: white;
  border-color: black;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  margin:0px 0px 0px 0px;
}
.subtotal-item {
  display:flex;
  justify-content: space-between;
  height:25px;
  width: 95%;
  margin:10px 10px 0px 10px;
}
.subtotal-item-delete{
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:30px;
  color:blue;
  font-size: 25px;
  background-color:grey
}
.subtotal-item-cell {
  display:flex;
  align-items:center;
  height:35px;
}
.orderItem-container {
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: white;
}
.orderItem-done {
  position:absolute;
  bottom:0px;
  left:0px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height:60px;
  background-color:rgb(148, 176, 245);

}
.item-part{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width:100%;
}
.item-row{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  height:60px;
}
.quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100px;
  height:100%;
}
.quantity-incr{
  display:flex;
  justify-content: center;
  align-items: center;
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color:grey;
  font-size: 18px;
}
.online-selector{
  display:flex;
  justify-content:center;
  align-items: center;
  width:80%; 
  height:40px;
  max-width: 200px;
  background-color: grey;
  border-radius: 4px;
}

.tabs-container {
  display:flex;
  justify-content:center;
  align-items: center;
  height:40px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, sans-serif;
}

.tab-buttons {
  display: flex;
}

.tab-link {
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  width:80px;
  height:40px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #ccc;
}
.location-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.location-item {
  width: 49%;
  height:40px;
  background-color: #5590f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.add-notice {
  position:absolute;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
  width: 100%;
  opacity:0;
  visibility: hidden;
  background-color: rgb(35, 181, 234);
  border-color: black;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
}
.order-bar {
  position:absolute;
  top:0px;
  left:0px;
  display:flex;
  height:60px;
  width: 100%;
  background-color: rgb(246, 115, 115);
  border-color: black;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
}
.location-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  visibility:hidden;
  width: 100%;
  height: 100%;
  pointer-events: none
}
.location-edit-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 320px;
   height: 200px;
   background-color: white;
   pointer-events: all
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
  }

