.match-wait-container {
    width: 80%;
    height: 80%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a19c9c;
}

.match-report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #2164f5;
    font-size: 20px;
}

.launcher_container {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transform: none;
    width: 100%;
    height: 100%;
}

.launcher_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(99, 245, 111);
}

.tournament-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #fa0e0e;
}

.tournament-play-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #fa0e0e;
}

.match-play-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1300;
}

.battle-complete {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #83f511;
}

.match-in-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #1795fc;
}