.match-wait-container {
    width: 80%;
    height: 80%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a19c9c;
}

.match-report-container {
    width: 80%;
    height: 80%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9c9595;
}