/* Container */
.category-controller {
   position:fixed;
   top:0px;
   left:0px;
   width: 100%;
  height:100%;
  opacity: 0;
  visibility: hidden;
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49%;
  height:60px;
  background-color: #5590f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.category-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height:60px;
  border-radius: 4px;
  background-color: #298aeb;
}

.btn-blank{
  width:80px;
  height:40px;
  background-color: transparent;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width:80px;
  height:40px;
  background-color: #e8e9ea;
  color:blue;
  border-radius: 4px; 
}
.btn-blank{
  display: flex;
  align-items: center;
  justify-content: center;
  width:80px;
  height:40px;
  background-color: transparent;
}
.inventory-price{
  display: flex;
  justify-content: flex-start;
  width:100%;
  height:60px;
  background-color: black;
}
.modifier-group-container{
 display:flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-content: flex-start;
 width:100%;
 background-color: white;
}
.modifier-group-item{
 width:calc(50% - 2px);
 height:40px;
 background-color: rgb(251, 138, 138);
 margin:2px 1px 1px 1px
}
.modifiers-container{
 display:flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-content: flex-start;
 width:100%;
 background-color: white;
 margin-top:10px;
}
.modifiers-item{
 width:30%;
 height:50px;
 background-color: rgb(93, 92, 92);
 margin:4px 0px 4px 0px;
}
.mask {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}



